.about-container {
    background-color: rgba(255, 237, 204, 0.75);
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .about-content {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: left;
  }
  
  .about-heading {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
    color: #ff7733;
  }
  
  .about-link {
    color: #ff7733;
    text-decoration: underline;
  }
  
 
  